<html>
    <head>
        <title>Night Geeks blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Night Geeks blog</a></h1>
        </div>

        <div>
            <p>published: 17.06.2019 00:05</p>
            <h2><a href="">My first post - test - Mikrotik PCC</a></h2>
            <p>PCC takes selected fields from IP header, and with the help of a hashing algorithm converts selected fields into 32-bit value. This value then is divided by a specified Denominator and the remainder then is compared to a specified Remainder, if equal then packet will be captured. You can choose from src-address, dst-address, src-port, dst-port from the header to use in this operation.</p>
        </div>

        <div>
            <p>published: 17.06.2019 00:05</p>
            <h2><a href="">My second post - Test - Mikrotik Load Ballancing</a></h2>
            <p>Load Balancing is a method aiming to spread traffic across multiple links to get better link usage. This can be done one per-packet or per-connection basis.</p>
        </div>
    </body>
</html>